.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
    padding: 0px 50px;
}

.links {
    display: flex;
}

.link {
    padding: 20px;
    position: relative;
}

.link:hover {
    background-color: rgb(255, 135, 113);
}

.dropdown {
    background-color: blue;
    display: none;
    position: absolute;
    top: 56px;
}

.mobileMenu {
    margin: 90px 0;
}

.mobileMenu h1 {
    padding: 20px 0px;
}

.mobile {
    position: absolute;
    top: -100vh;
    height: 50vh;
}