.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
    padding: 0px 50px;
}

.links {
    display: flex;
}

.link {
    padding: 20px;
    position: relative;
}

.link:hover {
    background-color: rgb(255, 135, 113);
}

.dropdown {
    background-color: blue;
    display: none;
    position: absolute;
    top: 56px;
}

.mobileMenu {
    margin: 90px 0;
}

.mobileMenu h1 {
    padding: 20px 0px;
}

.mobile {
    background-color: blueviolet;
    position: absolute;
    top: -100vh;
    height: 50vh;
}

.mobileShowing {
    top: 0;
    left: 0;
    width: 100%;
}

.carousel {
    width: 100%;
    text-align: center;
}

.img-container {
    width: 50%;
    margin: auto;
    background-color: gray;
    text-align: center;
}

.box {
    display: none;
    height: 80px;
    width: 80px;
    color: coral;
    margin: 5px 0;
}

.box1 {
    background-color: blueviolet;
}

.box2 {
    background-color: chartreuse;
}

.box3 {
    background-color: darkblue;
}

.arrow {
    display: inline-block;
}

.circle {
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}

.active {
    display: inline-block;
}